.news-item-wrapper
  %h3.link-effect
    = link_to item.title, blog_post_path(item)

  %p
    = item.published_at.strftime("%B %d, %Y")

  %p
    = sanitize(item.content, :tags=>[]).truncate(350, :separator => " ").html_safe